@model IEnumerable<CanalDoOvidio.Models.Catalogo>

@{
    ViewBag.Title = "Index";
}

<h2>Bem vindo ao nosso catalogo!</h2>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="@item.Imagem" alt="@item.Titulo">
                <div class="caption">
                    <h3>@Html.DisplayFor(modelItem => item.Titulo)</h3>
                    <p>@Html.DisplayFor(modelItem => item.Sinopse)</p>
                    <p>@Html.DisplayFor(modelItem => item.Diretor)</p>
                    <p>Lançamento: @Html.DisplayFor(modelItem => item.AnoLancamento) Duração: @Html.DisplayFor(modelItem => item.Duracao)</p>
                    <p><a href="/Filme/Exibir/@item.Titulo" class="btn btn-primary" role="button">Assitir</a> <a href="#" class="btn btn-default" role="button">Detalhe</a></p>
                </div>
            </div>
        </div>
    }
</div>      


